* {
    margin: 0;
    padding: 0;
    font-family: "Trirong", serif;
}


/* header section */
.banner-container {
    background-image: url("../images/banner/banner3.png");
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-container>div {
    text-align: end;
    margin-top: 100px;
    margin-right: 200px;
    width: 25em;
    float: right;
    color: white;
}

.banner-container>div>h1 {
    font-size: 3.5rem;
    margin: 20px 0;
}

.banner-container>div>p {
    margin: 20px 0;
    font-size: 18px;
}

.btn-banner {
    padding: 16px 22px;
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: 8px;
    border: none;
    color: rgb(3, 117, 230);
}


/* failure section */
.failures-container {
    padding: 80px 200px;
    display: flex;
    justify-content: center;
    margin-bottom: 8rem;
}

.failures-text {
    width: 25rem;
    margin-top: 10rem;
    margin-left: 15rem;
}

.failures-text h2 {
    font-size: 3rem;
}

.failures-text p {
    font-size: 1.2rem;
    margin: 1.2rem 0;
}

.failures-text ul {
    list-style-image: url('../images/tick.png');
    list-style-position: inside;
}

.failures-text ul li {
    font-size: 1.2rem;
    margin: .5rem 0;
}


/* plans section */
.my-plan {
    margin: 30px auto;
    width: 80%;
}

.my-plan h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.plan-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.plan-container>div>h3 {
    font-size: 2.2rem;
    margin: .7rem 0;
}

.plan-container>div>p{
    font-size: 1.8rem;
    font-weight: 600;
    color: rgb(120, 120, 120);
}


/* callNow section */
.callNow-container{
    width: 80%;
    margin: 5rem auto;
    background-size: cover;
    background-image: url('../images/watch.png');
    background-repeat: no-repeat;
    color: white;
    border-radius: 12px;
}

.header-callNow {
    font-size: 3rem;

}

.gradient_img{
    padding: 100px;
    background-image: url('../images/gradient1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-callNow{
    font-size: 1.4rem;
    font-weight: 600;
    padding: 1rem 1.6rem;
    color: rgb(3, 117, 230);
    border: none;
    border-radius: 8px;
    margin: 20px 0;
}


/* skill section */
.skill-container{
    margin: 8rem auto;
    width: 80%;
    text-align: center;
    justify-content: space-between;
}

.skill-container h2{
    font-size: 2.8rem;
    margin-bottom: 3rem;
}


/* footer section */
.footer{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding: 200px;
}

.logo{
    display: flex;
    margin-top: 1.2rem;
}

.subscribe h3{
    font-size: 2.8rem;
}

.subscribe p input{
    margin: 1.5rem 0;
    border-radius: 8px;
    border: 1px solid white;
    padding: 18px 26px;
    background-color: black;
    width: 300px;
}

.subscribe p input::placeholder{
    font-size: 1.5rem;

}

.subscribe p button{
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 1.5rem;
    color: white;
    background-color: rgb(3, 117, 230);
}

.footer-text p{
    width: 55ch;
    font-size: 1.4rem;
    line-height: 1.6;
}

.footer-text h2{
    font-size: 2.8rem;
}

.footer-text-email{
    margin: 1.2rem 0;
}

.twitter {
    margin: 0 1.5rem;
}